:host{
  display: block;
}

:host([active]){
  display: none;
}

.holder{
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
}

h2{
  font-size: 15px;
}

hr{
  width: 100%;
}

a[hidden]{
  display: none;
  visibility: hidden;
}

.button{
  position: absolute;
  right: 10px;
  top:7px;
}

.afwezig-keuze{
  display: flex;
  margin-right: 0;
}

paper-dropdown-menu, paper-input-date-picker{
  margin-left: 15px;
}

.afwezig{
  background-color: var(--paper-red-500);
}

paper-button.blue{
  background-color: var(--paper-light-blue-500);
  color: #ffffff;
}

paper-button.red {
  background-color: var(--paper-red-500);
  color: #ffffff;
}

paper-button.green {
  background-color: var(--paper-light-green-500);
  color: #ffffff;
}

paper-button.red[disabled], paper-button.green[disabled]{
  opacity: 0.3;
}

.keuze-drop{
  margin-top: -10px;
  margin-left: 20px;
  display: flex;
}

.afwezig-keuze[tablet-layout]{
  display: block;
}

.afwezig-keuze[tablet-layout] paper-input-date-picker, paper-dropdown-menu{
  margin: 0;
  margin-bottom: 10px;
}

.afwezig-keuze[phone-layout] paper-button{
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}

.afwezig-keuze[tablet-layout] .keuze-drop{
  margin-top: 10px;
  margin-left: 0;
}
