:host{
  display: block;
}

:host([active]){
  display: none;
}

.holder{
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
}

h2{
  font-size: 15px;
}

hr{
  width: 100%;
}

.button{
  position: absolute;
  right: 10px;
  top:7px;
}

.afwezig-keuze{
  display: -webkit-inline-box;
  margin-bottom: 10px;
  margin-right: 0;
}

paper-dropdown-menu, paper-input-date-picker{
  margin-left: 15px;
}

.afwezig{
  background-color: var(--paper-red-500);
  margin-left: 15px;
}

paper-button.blue{
  background-color: var(--paper-light-blue-500);
  color: #ffffff;
}

paper-button.red {
  background-color: var(--paper-red-500);
  color: #ffffff;
}

paper-button.green {
  background-color: var(--paper-light-green-500);
  color: #ffffff;
}

paper-button.red[disabled], paper-button.green[disabled]{
  opacity: 0.3;
}
